*{
    font-family: 'Inter';
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body
{
    background-color: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(182,33,222,1) 35%, rgba(4,0,140,1) 56%, rgba(0,22,255,1) 100%);
    position: relative;
    width: 20vw;
    height: 20vh;
    background-image: url('/img/pro.png');
    background-size: 50%;
    background-position-y: 65px;
    background-position-x: right;
    background-repeat: no-repeat;
    
}

.hf{

    background: white;
    margin: 0;
    padding: 4%;
    position: relative;
    right: -100px;
    display: flex;
    flex-direction: column;

}

h1{
    font-size: 60PX;
    margin: 20px;
}


h4{
    position: relative;
    right: -20px;
    margin: 05px;
}

h5{
    position: relative;
    right: -20px;
    margin: 05px;
    border-top: #FF0000 3px solid;
    font-size: 10px;
}

#sc{

    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 15px;
    position: relative;
    right: -130px;
    top: 100px;
}

#sc h4{

    position: relative;
    right: 7px;
    padding: 2%;
}

#sc p{

    position: relative;
    right: 7px;
    padding: 2%;

}


#cs{
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 15px;
    position: relative;
    right: -130px;
    top: 100px;
}

#cs h4{

    position: relative;
    right: 7px;
    padding: 2%;
}

button a{

    text-decoration: none;
    color: white;
}

button{

    background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(182,33,222,1) 35%, rgba(4,0,140,1) 56%, rgba(0,22,255,1) 100%);
    font-size: 17px;
    border: none;
    border-radius: 05px;
    position: relative;
    width: 100px;
    height: 50%;
    top: 20px;
    right: -80px;
}
