*{
    font-family:'Inter', sans-serif;
}

body
{
    margin: 0;
    background-color: white;
    font-family:'Inter', sans-serif;
}


.logo{
    position: relative;
    padding: 1%;
    top: -10px;
    left: 9px;
    width: 90px;
    height: 60px;
}



#ii{

    display: flex;
    justify-content: center;

}


#ui{

    display: flex;
    text-align: center;
    flex-direction: column;
}

h2{
    padding: 0.5%;
}


p{
    text-align: center;
    padding: 0.5%;
}

img{

    position: relative;
    right: -500px;
    width: 500px;
    height: 400px;
}

button a {

    position: relative;
    top: -01px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

button {

    background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(182,33,222,1) 35%, rgba(4,0,140,1) 56%, rgba(0,22,255,1) 100%);
    font-size: 17px;
    border: none;
    border-radius: 05px;
    position: relative;
    right: -656px;
    top: -10px;
    width: 100px;
    height: 50%;
}

