*{
    font-family:'Inter', sans-serif;
}

body
{
    margin: 0;
    background-color: white;
    font-family:'Inter', sans-serif;
}

header{

    background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(182,33,222,1) 35%, rgba(4,0,140,1) 56%, rgba(0,22,255,1) 100%);
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
}


.logo{
    position: relative;
    padding: 1%;
    top: -10px;
    left: 9px;
    width: 90px;
    height: 60px;
}



#ii{

    display: flex;
    justify-content: center;

}


#ui{

    display: flex;
    text-align: center;
    flex-direction: column;
}

h2{
    padding: 0.5%;
}


p{
    text-align: center;
    padding: 0.5%;
}

button a {

    position: relative;
    top: -07px;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

button {

    background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(182,33,222,1) 35%, rgba(4,0,140,1) 56%, rgba(0,22,255,1) 100%);
    font-size: 40px;
    border: none;
    border-radius: 05px;
    position: relative;
    left: 700px;
    width: 100px;
    height: 50%;
}


footer{

    position: relative;
    top: 500px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(182,33,222,1) 35%, rgba(4,0,140,1) 56%, rgba(0,22,255,1) 100%);
    color: white;
    font-size: 12px;
    height: 50px;
    width: 100%;
}

footer p {

    position: relative;
    top: 15px;
}