
*body{

    margin: 0;
    font-family:'Inter', sans-serif;
}

h1{
    padding: 0.5%;
    position: relative;
    top: 10px;
    left: 10px;
}


h4{
    padding: 1%;
}

#uu{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1%;
}


#fe{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1%;
}



#link{

    text-align: center;
    padding: 2%;
}

img{

    position: relative;
    right: -350px;
    margin: 0;
    width:  50%;
    
}
