
*body{

    margin: 0;
    font-family:'Inter', sans-serif;
}



header{

    background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(182,33,222,1) 35%, rgba(4,0,140,1) 56%, rgba(0,22,255,1) 100%);
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

nav
{
    color: transparent;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

nav a 
{
    display: flex;
    text-decoration: none;
    color: transparent;
    justify-content: space-between;
}



h1{}




#uu{

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1%;
}


#fe{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1%;
}



#link{

    text-align: center;
    padding: 2%;
}

.container-flex{

    display: flex;
    align-items: center;
}

.container-flex img{

    width: 50%;

}

img{

    position: relative;
    right: -350px;
    margin: 0;
    width:  50%;
    
}


footer{

    position: relative;
    text-align: center;
    background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(182,33,222,1) 35%, rgba(4,0,140,1) 56%, rgba(0,22,255,1) 100%);
    color: white;
    font-size: 12px;
    height: 50px;
    width: 100%;
}

footer p {

    position: relative;
    top: 16px;
}